html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* *, *:before, *:after{
    box-sizing: inherit;
} */

body {
    padding: 0;
    margin: 0;
    padding-left: 8px;
}

a {
    text-decoration: none;
}

:root {
    --width: 1400px;
    --orangeColor: rgb(255, 109, 28);
    --rowColor: rgb(255, 235, 235);
    --fontFam: 'Josefin Sans', sans-serif;
}

#all {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: var(--width);
    background: url(../images/bg.jpg);
    margin-left: 50px;
    height: auto;
}

.logo {
    background-color: rgb(2, 27, 45);
    color: rgb(255, 98, 1);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-align: center;
    padding-right: 147px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    height: 45px;
    width: var(--width);
    box-sizing: border-box;
    position: relative;
    top: 7px;
}

.container {
    padding: 0px 9px 0px 9px;
}

.f {
    background: url('../images/f.png') no-repeat;
    width: 11px;
    height: 26px;
    position: relative;
    top: 0px;
    left: 5px;
}

.g {
    background: url('../images/g+.png') no-repeat;
    width: 10px;
    height: 25px;
    position: relative;
    top: 1px;
    left: 5px;
}

.camBong {
    background: url("../images/bgCam.png") no-repeat 80% 26.8%;
    background-size: auto;
    background-position: auto;
    text-align: center;
    width: 100%;
    height: 800px;
    position: relative;
    top: -7px;
    z-index: 1;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.ytb {
    position: relative;
    left: 3px;
}

.triangle {
    position: absolute;
    top: 3px;
    right: 4.8px;
    border-left: 8px solid white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

header {
    height: 90px;
    background-color: #fff;
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 7px;
}

.bvote {
    background: #fff url("../images/bvote.png") no-repeat 34.5% 51%;
    background-size: auto;
    height: 100%;
    width: 30%;
    box-sizing: border-box;
    padding: 20px 100px 20px 100px;
    position: absolute;
    left: 50px;

}

.navi {
    position: absolute;
    right: 200px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ulist {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
    margin: 0;
    height: 100%;
}

.ulist>li {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    position: relative;
    margin: 22px;
    min-width: auto;
    text-transform: uppercase;
}

.ulist>li,
a {
    /* display: block; */
    text-align: center;
    min-width: 50px;
    width: auto;
    color: black;
    /* padding: 7px; */
    font-size: 15px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

li>a:hover {
    color: rgb(255, 109, 28);
}

li>a:hover::after {
    content: '';
    display: block;
    position: absolute;
    left: -9px;
    bottom: -22px;
    width: 120%;
    height: 8px;
    background-color: rgb(255, 109, 28);
}

.bong {
    height: 100%;
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7px;
}

.spleague {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    position: absolute;
    top: -15px;
    /* right: -5px; */
}

.spl1 {
    position: relative;
    top: 185px;
    right: -calc(100px + 105px);
    transform: rotate(-6deg);
}

.spl2 {
    position: relative;
    right: -12px;
    top: 159px;
}

.spl3 {
    position: relative;
    bottom: 32%;
    opacity: 0.8;
    right: -190px;
    top: -65px;
    /* transform: translate(-5px, 10px); */
}

.btc {
    position: relative;
    top: 30.5%;
    left: -8px;
    display: flex;
    justify-content: space-around;
}

.btc>p {
    font-weight: bolder;
    font-size: 19px;
    font-family: var(--fontFam);
    text-align: center;
    position: relative;
    top: 5px;
    left: -80px;
    text-decoration: underline;
}

.blogo {
    background-color: #fff;
    display: inline-block;
    width: 144px;
    height: 67px;
    background: #fff url(../images/LOGO-BYTESOFT.png) no-repeat 85% 32%;
    background-size: 118px;
    position: relative;
    left: -48px;
}

.arr {
    position: relative;
    top: 56px;
    height: auto;
}

.anhGT {
    position: relative;
    top: -130px;
    height: auto;
    width: 100%;
    background-color: #fff;
    ;
}

.gt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text {
    white-space: pre-line;
    text-align: left;
    width: 711px;
    position: relative;
    top: 100px;
    left: 5%;
}

.subGt>button {
    background-image: linear-gradient(to right, rgb(255, 98, 13), rgba(252, 101, 19, 0.8));
    padding: 12px;
    border-radius: 30px;
    border: none;
    margin: 10px;
    box-shadow: 5px 5px 20px #bebebe;
    text-align: center;
    color: #fff;
    width: 150px;
    height: 45px;
    font-weight: 700;
    position: relative;
    top: 0px;
    left: 58px;
    font-family: var(--fontFam);
    font-size: 15px;
    word-spacing: 0px;
    letter-spacing: 0px;
}

.subGt>p {
    margin-top: 0;
    letter-spacing: -1px;
    line-height: 29px;
    font-family: var(--fontFam);
    font-size: 16.3px;
    font-weight: 550;
    position: relative;
    top: -12px;
    left: 68px;
    text-align: justify;
    word-spacing: 4px;
}

.line1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-family: var(--fontFam);
    letter-spacing: 1px;
}

.line1>h1 {
    margin: 0;
    text-indent: 15px;
    position: relative;
    top: 2px;
    left: 70px;
    font-weight: 900;
}

.rtg {
    background-color: var(--orangeColor);
    height: 2px;
    width: 1.5px;
    position: relative;
    left: 68px;
    top: -5px;
}

.rtg1,
.rtg2 {
    transform: rotateX(180deg);
    height: 45px;

}

.rtg1 {
    margin-right: 2.5px;
}

.rtg2 {
    width: 5px;
}

.rtg3 {
    margin-left: 32px;
    width: 260px;
}

.pic {
    position: relative;
    top: 23px;
    right: -2px;
}

.ytbMessi {
    width: 70px;
    height: 70px;
    border-radius: 52px;
    background-color: red;
    position: absolute;
    top: calc(42% + 15px);
    left: calc(49% - 15px);
    border: 3px solid white;
}

.ytbPlay {
    top: calc(46.5% + 14px);
    left: calc(53.3% - 15px);
    position: absolute;
    border-left: 25px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.hdgd {
    position: relative;
    top: 55px;
    height: 100px;
}

.hdgdSub {
    position: absolute;
}

.stadium {
    width: 1401px;
    top: -78px;
}

.opacity {
    width: 1402px;
    bottom: -141px;
    opacity: 1;
}

.hdgdText {
    font-size: 41px;
    color: #fff;
    font-family: var(--fontFam);
    top: -26px;
    left: 483px;
    font-weight: 800;
    letter-spacing: 0.25px;
    word-spacing: px;
}

.lo1,
.lo2 {
    width: 106px;
    background-color: var(--orangeColor);
    height: 2.5px;
    position: relative;
}

.lo1 {
    top: 84px;
    left: 581px;
}

.lo2 {
    top: 81px;
    left: 725px;
}

.parallelogam {
    width: 18px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: 79%;
    left: 696px;
    transform: skewX(-20deg);
}

.voteTable {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.table1 {
    border: 1px solid rgb(255, 255, 255);
    border-top: 2px solid var(--orangeColor);
    border-bottom: 2px solid white;
    text-align: center;
    font-family: var(--fontFam);
    font-size: 17px;
    font-weight: 500;
    width: 67.4%;
    position: relative;
    top: 91px;
    left: 16.8%;
    box-shadow: 0 0 10px #bebebe;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.th {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0;
    margin: 0;
    border: 0;
}

tr {
    background-color: #fff;
}

th {
    text-transform: uppercase;
    color: white;
    text-align: center;
    height: 53px;
}

td {
    height: 21px;
}

th,
td {
    padding: 20px;
}

.mavote {
    padding-left: 33px;
}

.ngvote {
    padding-left: 69px;
}

/* .thisinh {
    padding-left: ;
}

.tgian {
    padding-left: ;
} */

.pinkRow {
    background-color: var(--rowColor);
}

.nextPre {
    width: 88px;
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 662px;
    top: 55px;
    margin-top: 53px;
}

.pre,
.next {
    border: 1px solid var(--orangeColor);
    background-color: #fff;
    width: 30.4px;
    height: 34px;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre {
    margin-left: 2px;
}

.arrNext>a {
    clip-path: polygon(42% 1%, 91% 53%, 42% 100%, 40% 100%, 53% 52%, 42% 0);
    transform: rotateX(180deg);
    background: var(--orangeColor);
    color: var(--orangeColor)
}

.arrPre>a {
    background: var(--orangeColor);
    color: var(--orangeColor);
    clip-path: polygon(65% 0, 52% 51%, 64% 100%, 64% 100%, 12% 51%, 65% 0);
}

.pre:hover,
.next:hover {
    background-color: var(--orangeColor);
}

.pre:hover .arrPre>a,
.next:hover .arrNext>a {
    background-color: white;
    color: white;
}

.picBeyondTab {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0px 0px 40px 158px;
    top: 119px;
    left: -22px;
}

.mryHome {
    background: url("../images/mrHome.jpg") no-repeat left center;
    width: 552px;
    height: 240px;
    box-shadow: 0px 2px 10px #bebebe;
}

.estate {
    background: url("../images/building.jpg") no-repeat right center;
    width: 552px;
    box-shadow: 0px 2px 10px #bebebe;
    margin-left: 34px;
    height: 240px;
}

.es1 {
    background: url("../images/htLand.png") no-repeat center center;
    width: 200px;
    height: 100px;
    position: relative;
    top: 33px;
    left: -9px;
}

.es2 {
    background: url("../images/realestate.png") no-repeat center center;
    width: 186px;
    height: 76px;
    position: relative;
    top: 10px;
    left: -2px;
}

.vote {
    /* position: relative; */
    width: 100%;
    text-align: center;
    font-family: var(--fontFam);
}

.voteList {
    margin-top: 50px;
    font-weight: 600;
    font-size: 42px;
    position: relative;
    top: -13px;
    left: 5px;
    /* font-weight: 500; */
}

.break {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.break>.lo1 {
    top: 8px;
    left: 559px;
}

.break>.lo2 {
    left: 597px;
    top: 7.5px;
}

.break>.parallelogam {
    background-color: rgb(0, 81, 83);
    top: 39%;
    width: 16px;
}

.roles {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.role1,
.role2,
.role3 {
    height: 13px;
    padding: 14px;
    text-transform: uppercase;
    border: 2px solid var(--orangeColor);
    transform: skewX(-30deg);
    font-size: 14px;
    font-weight: 900;
    background-color: #fff;
    color: black;
    font-style: normal;
    margin: 0 15px 40px 15px;
    text-align: center;
    box-shadow: 2px 2px 20px #bebebe;
    position: relative;
    top: 5px;
}

.role1 {
    width: 102px;
    position: relative;
    left: -26px;
}

.role2 {
    position: relative;
    left: -41px;
    width: 202px;
}

.role3 {
    position: relative;
    left: -55px;
    width: 102px;
}

.role1:hover,
.role2:hover,
.role3:hover {
    background-color: var(--orangeColor);
    color: white;
}

.role1>span,
.role2>span,
.role3>span {
    display: inline-block;
    transform: skew(30deg);
    font-size: 18px;
    position: relative;
    left: 2px;
    top: -1px;
    font-weight: 500;
}

.gridPic {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 29px;
    width: fit-content;
    position: relative;
    left: 87px;
    margin-bottom: 100px;
    top: 64px;
}

.gi {
    background: #fff url(../images/cauthu.jpg) no-repeat right top;
    box-shadow: 2px 2px 10px #bebebe;
    width: 264px;
    height: 417px;
    margin-left: 18%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: 261px;
}

.partner {
    /* background: url("../images/endTri.png") no-repeat left top; */
    width: 100%;
    height: 200px;
    position: relative;
}

.anhTri {
    position: relative;
    top: -100px;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    top: -533px;
    left: 42px;
    padding: 10px;
    margin-left: 80px;
}

.grimage {
    width: 156px;
    height: 104px;
    box-shadow: 0px 0px 10px #bebebe;
    margin: 20px;
    margin-right: 0px;
}

.group>.pre,
.group>.next {
    position: relative;
    top: 40px;
    border: none;
    background-color: #fff;
}

.group>.arrNext>a,
.group>.arrPre>a {
    color: rgb(104, 104, 103);
    background-color: rgb(104, 104, 103);
}

.group>.pre:hover,
.group>.next:hover {
    background-color: #fff;
}

.group>.pre:hover .arrPre>a,
.group>.next:hover .arrNext>a {
    background-color: rgb(165, 31, 31);
    color: rgb(165, 31, 31);
}

.anhFooter {
    position: absolute;
    top: 0px;
}

.end {
    position: relative;
}

.a1 {
    top: 344px;
    width: 1402px;
    height: 250px;
    left: 0px;
    overflow: hidden;
}

.a2 {
    top: 67px;
    width: 1402px;
    height: 275px;
    opacity: 1.8;
}

.a3 {
    top: -103px;
    height: 70px;
    left: 600px;
    width: 224px;
}

.end>p {
    color: white;
    font-family: var(--fontFam);
    font-size: 14.6px;
}